.container
    .well
        form.form-horizontal(name="createProductForm")
            fieldset
                legend Create New Product
                .form-group
                    label.col-md-2.control-label(for="product-name") Product Name
                    .col-md-10
                        input.form-control(type="text", ng-model="product.name", required)
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        input.form-control(type="text", ng-model="product.description", required)
                .form-group
                    label.col-md-2.control-label(for="price") Price
                    .col-md-10
                        input.form-control(type="text", ng-model="product.price", required)
                .form-group
                    label.col-md-2.control-label(for="count") Count
                    .col-md-10
                        input.form-control(type="text", ng-model="product.count", required)
                .form-group
                    label.col-md-2.control-label(for="categories") Categories TODO
                    .col-md-10
                        input.form-control(type="text", ng-model="product.categories", required)
                .form-group
                    label.col-md-2.control-label(for="picture") Picture
                    .col-md-10
                        input.form-control(type="file", ng-model="product.picture", required)
                .pull-right
                    button.btn.btn-primary(ng-click="createProduct(product)", ng-disabled="createProductForm.$invalid") Create
                    a.btn.btn-primary(href="#/") Cancel