// TODO
//product, purchase date, paid, payment method, payment details, ship date, shipped, product picture
.container
    .row
        //(ng-show="{{purchase.shipped}}")
        //button.btn.btn-primary('ng-click="leaveReview()"') Leave Review
        button.btn.btn-primary Leave Review
    table.table
        tr
            th
                | Product
            th
                | Purchase Date
            th
                | Payment method
        tr
            td
                | {{ currPurchase.product }}
            td
                | {{ currPurchase.purchaseDate | date: 'dd/MM/yyyy' }}
            td
                | {{ currPurchase.paymentMethod }}