.container
    .page-header
        h2.text-center Users
    table.table
        tr.row
            th.col-md-3 Username
            th.col-md-3 First name
            th.col-md-3 Last Name
            th.col-md-3 Action
        tr.row(ng-repeat="user in users")
            td.col-md-3 {{ user.username }}
            td.col-md-3 {{ user.firstName }}
            td.col-md-3 {{ user.lastName }}
            td.col-md-3
                button.btn.btn-danger(ng-click="deleteUser(user._id)") Delete